/* Theme */

main {
	/* color: #FAFAFA; */
	background-repeat: no-repeat;
	color: #FAFAFA;
	position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20px;
  margin-right: 20px;
}

.background-image{
	/* background-image:url("../../images/image10.jpg"); */
	position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  /* background-repeat: no-repeat; */
  /* display: block; */
  /* background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG'); */
  /* width: auto; */
  /* height: 4800px; */
  /* background-repeat:no-repeat; */
/* background-size:contain;
background-position:center; */

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  /* padding: 0px; */
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}